#title-txt{
    text-align: center;
    font-size: xx-large;
}

.even-pos-title-design{
    color:red;
}
.odd-pos-title-design{
    color:darkblue
}

#container{
    max-width: 500px;
    margin-top:20vh;
    /* margin-left: 20vh;*/
    margin-left:75vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#base-buttons{
    position: absolute;
    top:305px;
    left:735px;
    height: 20px;
    width: 500px;
    display:none;
    grid-template-columns: auto auto auto;
}

#base-buttons > button{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#mode{ 
    height: 40px;
    width: 500px;
    display:grid;
    grid-template-columns: auto auto auto;
}

#mode > button{
    font-size: large;
    color:black;
    background-color:darkgray;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#mode > button:hover{
    font-size: x-large;
    color:blue;
}
#base-buttons > button:hover{
    font-size:medium;
    color:cadetblue;
    /* color:#f5f5f5 */
}
#buttons > button:hover{
    font-size: 30px;
    color: #fff;
}

#blank{
    text-align: right;
    font-size: 30px;
    font-weight: 300;
    height: 50px;
    width: 500px;
}

#display{
    text-align: right;
    font-size: 60px;
    font-weight: 800;
    width: 500px;
    overflow-x: scroll;
}

.scrollable {
    height: 150px;
    overflow-x: scroll;
}
  
.scrollable::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}
  
.scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#buttons > button {
    justify-content: center;
    align-items: center;
    background-color:darkgrey;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px; 
    font-size: 20px;
    font-weight: bold;
}

#buttons{
    height:200px;
    display:grid;
    grid-template-columns: auto auto auto auto;
}